<p id="notice"><%= notice %></p>

<p>
  <strong>Versao:</strong>
  <%= @contribuicao.versao %>
</p>

<p>
  <strong>Data:</strong>
  <%= @contribuicao.data %>
</p>

<p>
  <strong>Arquivo:</strong>
  <%= @contribuicao.arquivo %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @contribuicao.user.nome %>
</p>


