<%= simple_form_for(@caixa) do |f| %>
    <%= f.error_notification %>
    <%= f.input :nome %>
    <%= f.input :descricao %>

        <h4>Item</h4>
        <%= f.simple_fields_for :items, @caixa.items.build do |item| %>
        <%= item.input :tipo,     label: "Tipo: " %>
        <%= item.input :conteudo, label: "Conteudo: " %>   
        <% end %>
<%= f.button :submit %>
<% end %>


