<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @bug.numero %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @bug.descricao %>
</p>

<p>
  <strong>Dificuldade:</strong>
  <%= @bug.dificuldade %>
</p>

<p>
  <strong>Colaborador:</strong>
  <%= @bug.colaborador %>
</p>


