<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @box_project.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @box_project.descricao %>
</p>

<p>
  <strong>Topico:</strong>
  <%= @box_project.topico %>
</p>

<p>
  <strong>Link:</strong>
  <%= @box_project.link %>
</p>

<%= link_to 'Edit', edit_box_project_path(@box_project) %> |
<%= link_to 'Back', box_projects_path %>
